@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}
/* Custom class to hide scrollbar but keep scrolling */
.custom-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari */
  }
  .custom-scroll {
    -ms-overflow-style: none;  /* Hide scrollbar for IE, Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
  }
  
